.btn {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: calc(var(--radius) - 1px);
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1.0rem;
}

.btn .highlightContainer {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  inset: 0;
  padding-top: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
}

.btn .highlightContainer .highlight {
  width: 200%;
  background: conic-gradient(from 0deg, transparent 0 330deg, white 360deg);
  -webkit-mask-image: linear-gradient(white 5%, transparent 20%);
  mask-image: linear-gradient(white 5%, transparent 20%);
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 50%;
  translate: -50% -10%;
  aspect-ratio: 1;
}

.btn svg {
  inline-size: 1.0rem;
  overflow: visible;
}

.sparkleContainer {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  aspect-ratio: 1;
  -webkit-mask: radial-gradient(white, transparent 65%);
  mask: radial-gradient(white, transparent 65%);
  z-index: -1;
}

.sparkleContainer svg {
  position: absolute;
  fill: white;
  aspect-ratio: 1;
  z-index: -1;
}
